*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Fira Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.no-border{
    border: none !important;
}
.wrapper{
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 200px);
}
.menu__list{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
}
.menu__list-item{
    padding: 0 8px;
}
.menu__item-link{
    font-family: 'Fira Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: black;
}
.menu__item-link:hover{
    color: grey;
}
.menu__list-item--active a{
    color: #900022;
}
.menu__list-item--active a:hover{
    color: red;
}
.menu__btn span{
    display: block;
    margin-bottom: 4px;
    background-color: white;
    height: 4px;
}
.menu__btn{
    display: block;
    width: 30px;
    cursor: pointer;
    margin-right: 15px;
}
.header__container{
    background-color: #7e0019;

}
.header__container-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 88px;
}
.header__container-text{
    /*margin-top: 33px;*/
    /*margin-right: 450px;*/
}
.header__container__text--link{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.header__container-title{
    text-align: center;
    display: inline-block;
}
.header__container-title--link{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.title{
    font-size: 32px;
}
.header__container-logo--text{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.header__container-language{
    margin-right: 20px;
}
.header__container-language--link1{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.header__container-language--link2{
    color: grey;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.header__container-button{
    height: 36px;
    border: #fff 3px solid;
    background: #b30c1d;
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.header__container-block1{
    display: flex;
}
.header__container-block2{
    text-align: center;
}
.header__container-block3{
    display: flex;
    align-items: center;
}
.menu__bottom{
    margin-bottom: 2px;
}
.menu__bottom-list{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
}
.bottom__list-item{
    padding: 0 8px;
}
.menu__bottom-item--link{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.menu__bottom-item--link:hover{
    color: grey;
}
.line{
    border-bottom: 1px solid rgba(208, 212, 216, 1);
}
.section__covid-block{
    margin-top: 12px;
}
.covid__block-title{
    margin-top: 25px;
    padding-left: 12px;
}
.covid__block-title--link{
    font-size: 18px;
    font-weight: normal;
    color: #900022;
}
.covid__container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
}
.covid__block-item{
    width: 24%;
    height: 75px;
    margin: 13px 6px;
    border: 1px solid #e3e3e3;
}
.covid__block-description{
    margin-bottom: 10px;
    padding-left: 12px;
}
.covid__block-description--link{
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
}
.covid__block-description--number{
    font-weight: bold;
}
.covid__map{
    padding-left: 12px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    color: #900022;
}
.section__news{
    margin-bottom: 50px;
}
.section__news-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.section__news-block1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 650px;
}
.main__news{
    max-width: 300px;
    margin: 0 12px 7px 12px;
}
.section__news-block2{
    margin: 0 0 0 12px;
}
.main__news-description{
    padding: 11px 0 5px 0;
}
.without__photo .main__news-description{
    border-top: #e3e3e3 1px solid;
}
.main__news-description--link{
    font-size: 18px;
}
.all__news-link{
    font-size: 12px;
    color: #900022;
    text-transform: uppercase;
}
.main__news-image{
    margin: 0 0 12px 0;
}
.section__news-block2{
    max-width: 616px;
}
.main__news-title{
    margin-bottom: 10px;
}
.main__news-title--link{
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}
.main__news-text--link{
    font-size: 13px;
    text-transform: uppercase;
    color: #888;
    font-weight: 300;
}
.block__news-last{
    width: 312px;
    padding-left: 12px;
    margin-right: 24px;
}
.news__last-block{
    border-bottom: 1px solid rgba(208, 212, 216, 1);
    padding-bottom: 12px;
    margin-bottom: 10px;
}
.news__last-title{
    border-top: 1px solid #900022;
    padding: 15px 0;
}
.news__last-title--link{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #900022;
}
.news__last-time{
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #888;
}
.news__last-text--link{
    font-size: 16px;
}
.block__icon{
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #900022;
    background: #eeeff0;
    padding: 1px 6px 0;
    margin-right: 8px;
    position: relative;
    top: -2px;
    line-height: 1.3em;
}
.all__news-big{
    margin-top: 15px;
}
.all__news-big--link{
    font-size: 18px;
}
.block__news-detail{
    padding-left: 12px;
    margin-right: 24px;
}
.news__detail-container{
    width: 650px;
}
.detail__block-top{
    display: flex;
    flex-wrap: wrap;
}
.detail__block-bottom{
    display: flex;
    flex-wrap: wrap;
}
.news__detail-block{
    max-width: 300px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    margin-right: 24px;
}
.news__detail-title{
    border-top: 1px solid #900022;
    padding: 15px 0;
    max-width: 626px;
}
.news__detail-title--link{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #900022;
}
.news__detail-description{
    padding: 13px 0 8px 0;
}
.news__detail-description--link{
    color: black;
    font-size: 18px;
    line-height: 1.1em;
}
.news__detail-text{
    padding: 5px 0;
}
.news__detail-text--link{
    font-size: 0.7em;
    text-transform: uppercase;
    color: #888;
    font-weight: 300;
}
.video__block{
    background: #eeeff0;;
    position: relative;
}
.video__block-title{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 12px 0 12px;
}
.detail__video-image{
    padding: 12px;
}
.video-icon--image{
    position: absolute;
    top: 25%;
    left: 40%;
}
.video__description{
    padding-left: 12px;
}
.detail__video-description--link{
    font-size: 18px;
    font-weight: bold;
}
.big__block{
    margin-top: 20px;
    max-width: 626px;
}
.big__block-description{
    padding: 0;
}
.detail-description--link{
    font-size: 32px;
}
.all__publications-link{
    font-size: 18px;
    text-transform: uppercase;
    color: #900022;
    display: block;
}
.section__club{
    margin-bottom: 50px;
}
.section__club-container{
    background: #eae8e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 45px 30px;
}
.section__club-image{
    margin-right: 25px;
}
.section__club-information{
    display: block;
    max-width: 720px;
}
.club__information-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
}
.club__information-text{
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.club__information-text--strong{
    font-size: 16px;
    line-height: 1.2em;
}
.club__information-button{
    display: inline-block;
    background: #7e0019;
    padding: 16px 45px;
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 35px;
    border: none;
    outline: none;
}
.section__blogs-container{
    display: flex;
    flex-wrap: wrap;
}
.columns__block{
    display: flex;
    flex-wrap: wrap;
}
.columns__block-title{
    border-top: 1px solid #900022;
    width: 950px;
    margin: 0 12px;
    padding: 15px 0;
}
.columns__block-title--link{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #900022;
}
.columns__block-item--big{
    width: 624px;
    background: #eeeff0;
}
.block__item-title--big{
    padding: 15px 12px 20px 12px;
    font-size: 21px;
}
.block__item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 12px 75px 12px;
}
.block__item-image{
    width: 85px;
}
.block__item-photo{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    border-radius: 50%;
}
.block__item-text{
    font-size: 13px;
    padding: 0 0 0 10px;
}
.block__item-subtitle{
    color: #900022;
}
.block__item-description{
    font-size: 13px;
    color: #888;
    font-weight: 300;
}




.section__digest{
    background-image: url("../images/digest-bg.jpg");
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section__digest-container{

    height: 100%;
}
.section__digest-title{
    margin: 0 20px;
    max-width: 1247px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -10px;
    z-index: 2;
}
.section__digest-title--link{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}


.section__tabloid{
    background: #d91f12;
    padding-bottom: 30px;
    margin-bottom: 55px;
}
.section__tabloid-title{
    margin: 0 20px;
    padding: 18px 0;
}
.section__tabloid-title--link{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}
.section__tabloid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tabloid__block:last-child{
    border: none;
}
.tabloid__block{
    width: 25%;
    padding: 0 12px 0 12px;
    border-right: 1px solid rgba(255, 255, 255, .2);
}
.tabloid__image{
    width: 100%;
}
.tabloid__block-title{
    padding: 13px 0 5px 0;
}
.tabloid__block-title--link{
    font-size: 18px;
    color: #fff;
}

.life__container{
    margin-bottom: 45px;
}
.about__life-block{
    margin: 0 12px 0px 12px;
}
.life__title{
    padding: 15px 0;
    font-size: 22px;
    font-weight: 800;
    border-top: #900022 1px solid;
}
.life__title-link{
    color: #900022;
}
.life__blocks{
    display: flex;
    flex-wrap: wrap;
}
.life__block:first-child{
    padding: 0 12px 0 0;
}
.life__block:last-child{
    border: none;
    padding-right: 0;
}
.life__image{
    width: 100%;
}
.life__block{
    width: 25%;
    padding: 0 12px 0 12px;
    border-right: #e3e3e3 1px solid;
}
.life__block-title{
    padding: 13px 0 5px 0;
}
.life__block-text{
    padding: 5px 0;
}
.life__block-text--link{
    font-size: 10px;
    color: #888;
    font-weight: 300;
}
.life__line{
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}
.about__life-sub{
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px;
}
.life__sub-news:first-child{
    padding-left: 0;
}
.life__sub-news:last-child{
    border: none;
}
.life__sub-news{
    width: 25%;
    padding: 0 12px 0 12px;
    border-right: #e3e3e3 1px solid;
}
.sub__news-title--link{
    font-size: 16px;
    font-weight: 300;
}
.about__economics-container{
    margin: 0 12px 45px 12px;
}
.economics__title{
    padding: 15px 0;
    font-size: 22px;
    font-weight: 800;
    border-top: #900022 1px solid;
}
.economics__title-link{
    color: #900022;
}
.economics__blocks{
    display: flex;
    flex-wrap: wrap;
}
.economics__block:first-child{
    padding: 0;
}
.economics__block:last-child{
    border: none;
}
.economics__block{
    width: 25%;
    padding: 0 12px 0 12px;
    border-right: #e3e3e3 1px solid;
    margin-bottom: 0;
}
.economics__block-title{
    padding-bottom: 5px;
}
.economics__block-text{
    padding: 5px 0;
}
.economics__block-text--link{
    font-size: 10px;
    color: #888;
    font-weight: 300;
}
.about__world-container{
    margin: 0 12px 45px 12px;
}
.world__title{
    padding: 15px 0;
    font-size: 22px;
    font-weight: 800;
    border-top: #900022 1px solid;
}
.world__title-link{
    color: #900022;
}
.world__blocks{
    display: flex;
    flex-wrap: wrap;
}
.world__block:first-child{
    padding: 0;
}
.world__block:last-child{
    border: none;
}
.world__block{
    width: 25%;
    padding: 0 12px 0 12px;
    border-right: #e3e3e3 1px solid;
    margin-bottom: 0;
}
.world__block-title{
    padding-bottom: 5px;
}
.world__block-text{
    padding: 5px 0;
}
.world__block-text--link{
    font-size: 10px;
    color: #888;
    font-weight: 300;
}
.about__history-container{
    margin: 0 12px 45px 12px;
}
.history__title{
    padding: 15px 0;
    font-size: 22px;
    font-weight: 800;
    border-top: #900022 1px solid;
}
.history__title-link{
    color: #900022;
}
.history__blocks{
    display: flex;
    flex-wrap: wrap;
}
.history__block:first-child{
    padding: 0;
}
.history__block:last-child{
    border: none;
}
.history__block{
    width: 25%;
    padding: 0 12px 0 12px;
    border-right: #e3e3e3 1px solid;
    margin-bottom: 0;
}
.history__block-title{
    padding-bottom: 5px;
}
.history__block-text{
    padding: 5px 0;
}
.history__block-text--link{
    font-size: 10px;
    color: #888;
    font-weight: 300;
}

.footer{
    background: #f4f5f7;
    margin-top: 90px;
    padding: 50px 0;
}
.footer__container{
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
}
.footer__social{
    text-align: center;
}
.social__title{
    font-size: 14px;
    font-weight: 300;
}
.social__icons{
    padding: 10px 0;
}
.facebook-link{
    display: inline-block;
    width: 56px;
    height: 56px;
    border: #111 3px solid;
    border-radius: 50%;
    margin: 0 5px 20px 5px;
}
.twitter-link{
    display: inline-block;
    width: 56px;
    height: 56px;
    border: #111 3px solid;
    border-radius: 50%;
    margin: 0 5px 20px 5px;
}
.telegram-link{
    display: inline-block;
    width: 56px;
    height: 56px;
    border: #111 3px solid;
    border-radius: 50%;
    margin: 0 5px 20px 5px;
}
.youtube-link{
    display: inline-block;
    width: 56px;
    height: 56px;
    border: #111 3px solid;
    border-radius: 50%;
    margin: 0 5px 20px 5px;
}
.instagram-link{
    display: inline-block;
    width: 56px;
    height: 56px;
    border: #111 3px solid;
    border-radius: 50%;
    margin: 0 5px 20px 5px;
}
.wifi-link{
    display: inline-block;
    width: 56px;
    height: 56px;
    border: #111 3px solid;
    border-radius: 50%;
    margin: 0 5px 20px 5px;
}
.footer__menu{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 30px;
    padding: 20px 0;
}
.footer__menu-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
}
.footer__menu-item{
    padding: 0 8px;
}
.footer__menu-item--link{
    font-size: 12px;
    font-weight: bold;
}
.footer__text{
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 300;
}
.footer__info{
    text-align: center;
    padding: 15px 0 25px 0;
    font-size: 14px;
    border-bottom: #e3e3e3 1px solid;
    font-weight: 300;
}
.footer__obrt-image{
    margin-top: 15px;
}
.footer__contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
}
.footer__contacts-name{
    padding: 30px 0 30px 50px;
}
.contacts-name{
    padding: 2px 0;
}
.contacts__name-link{
    color: #900022;
}
.contacts__email-link{
    color: #900022;
}
.footer__email{
    padding: 30px 0 30px 50px;
}
.footer__code-block{
    text-align: center;
}


